<!doctype html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="IEEE,">
    <meta name="author" content="Andre Herrera">
    <meta name="description" content="NLU system">
    <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'controlAsistencias/eventos_todos.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    {% block header %}
    {% endblock %}
    <title>{% block title %}{% endblock %}  </title>

</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'eventos_todos' %}">Eventos</a></li>
            <li><a href="{% url 'inscripcion' %}">Inscribete</a></li>
            <li><a href="{% url 'inscritos_todos' %}">Inscritos</a></li>
            <li><a href="{% url 'buscar_evento' %}">Buscar evento</a></li>
        </ul>
    </nav>
</header>
{% block main %}

{% endblock %}
<footer>
    <h6><a href="https://github.com/astandre/tutorialDjango"> Acerca de</a></h6>
    {% block footer %}
    {% endblock %}
</footer>
</body>
</html>

